#define bgDefault #0c1328
#define bgHighlight #143447
#define bgActive #4c7899

#define textDefault #fff

#define borderActive #4c7899

URxvt*termName: rxvt-256color
URxvt*scrollTtyKeypress: true
URxvt.font: xft:Dina-11:antialias=false, Siji:pixelsize=10
URxvt.letterSpace: 0
URxvt.lineSpace: 2
URxvt*scrollBar: false
URxvt*fading: 20
URxvt*fadeColor: #000
URxvt.internalBorder: 30 

! Custom colours
polybar.background:    bgDefault
polybar.backgroundAlt: bgHighlight
polybar.text:          textDefault
polybar.textAlt:       #8F2FAE
polybar.border:        borderActive

! Special
*.foreground:  textDefault
*.background:  bgDefault
*.cursorColor: #ffffff
! Black
*.color0:  #2E3436
*.color8:  #555753
! Red
*.color1:  #a40000
*.color9:  #EF2929
! Green
*.color2:  #4E9A06
*.color10: #8AE234
! Yellow
*.color3:  #C4A000
*.color11: #FCE94F
! Blue
*.color4:  #3465A4
*.color12: #729FCF
! Magenta
*.color5:  #75507B
*.color13: #AD7FA8
! Cyan
*.color6:  #35DFFF
*.color14: #00FDFF
! White
*.color7:  #babdb9
*.color15: #EEEEEC

! Cursor size
Xcursor.size: 16

! Font smoothing
Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

