* {
    background: rgba(0, 0, 0, 0.70);

    background-color: @transparent;
    transparent: rgba(0, 0, 0, 0);
    font: "Fira Code 20";
    spacing: 10;
    color: #a9bce2;
}

#window {
    background-color: @background;
    padding: 0;
    border: 0;
}

#mainbox {
    padding: 30%;
    border: 0;
}

/* vim:ft=css
