* {
    background: rgba(0, 0, 0, 0.80);

    background-color: @transparent;
    transparent: rgba(0, 0, 0, 0);
    font: "Fira Code 30";
    color: #8f2fae;
    spacing: 10;
}

#window {
    background-color: @background;
    padding: 0;
    border: 0;
}

#mainbox {
    padding: 40% 30% 10% 30%;
    border: 0;
}

#entry {
    color: #a397dd;
}

#listview {
    padding: 10px 0 0 0;
}

#element {
    font: "Fira Code 20";
}

#element.selected {
    text-color: #c5bdea;
}

/* vim:ft=css
